/.bundle
/log/*
/shared/log/*
/shared/pids/*
/shared/sockets/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/shared/log/.keep
!/shared/pids/.keep
!/shared/sockets/.keep
.byebug_history
/config/database.yml
.rspec
/public/system/*

# Ignore application configuration
/config/application.yml
